@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(165deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url(/public/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    opacity: 0.9;
    font-family: PT Sans, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.container{
    display: grid;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 100%;
    padding: 30px 10%; 
    margin: auto;
    height: 8rem;
}
.logo{
    margin-right: auto;
    cursor: pointer;
}
.mobile-applications img{
    margin: 0 1%;
    cursor: pointer
}

.mobile-applications{
    display: flex;
}
@media only screen and (max-width: 600px) {
    .mobile-applications img{
        width: 90px;
    }   
}


form{
    background-color: rgba(255, 255, 255, 0.7);
    height: 52px;
    width: 60vw;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 1px 28px rgba(0, 0, 0, 0.65);
}

.check_weather{
    color: rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in;
	cursor: pointer;
    width: 22px;
    margin: 20px 26px 20px 0;
}
.form_input{
    border: none;
    background: none;
    outline: none;
    width: 50vw;
    font-size: 1rem;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.7);
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.totalLocation{
    font-size: 3rem;
    display: flex;
}

.temperature{
    font-size: 2rem;
}
.weather_icon{
    animation: float 2s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(1.5rem);
    }
}
.degree_measurement{
    color: rgba(255, 255, 255, 0.5)
}
.description{
    font-size: 2rem;
}
button{
    background: none;
    outline: none;
    border: none;
    
}
@media only screen and (min-width: 600px){
    main{
        margin-top: 100px;
        margin-bottom: 100px;
        justify-content: space-around;
        height: 65vh;
    }
}